.form-container {
    width: 500px;
    height: 600px;
    margin: 30px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 41.5px;
}
.form-title{
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
    
    color: #2A414F;
}
.form-control{
   
    margin-bottom: 20px;
}
.form-control label {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 10px;
    color: #2A414F;
  
}
.form-control input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 9px;
}
.btn-login{
    width: 415px;
    height: 55px;
    margin-top: 45px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin-left: 8.5px;
    border: 0;
    
}
.btn-login:hover{
    cursor: pointer;
    background: rgba(255, 153, 0, 0.6);
}